{{!-- has template for handlebars to render to --}}
<h1>Burgers</h1>
<h2>Burgers yet to be eaten</h2>
<ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{> burgers/burger-block devoured=false}}
        {{/unless}} 
    {{/each}}
</ul>
<h2>Burgers that have been devoured</h2>
<ul>
    {{#each burgers}}
        {{#if devoured}}
            {{> burgers/burger-block devoured=true}}
        {{/if}}
    {{/each}}
</ul>

<h2>Add a new burger</h2>
<form>
    <label for="name">Burger Name:</label>
    <input id="name" type="text">
    <fieldset id="devoured">
        <input type="radio" value="devoured" name="isEaten" checked>Devoured<input type="radio" value="notDevoured" name="isEaten">Not Devoured
    </fieldset>
    <button type="submit" id="newBurger">submit</button>
</form>
{{!-- button to submit info --}}